@import "tailwindcss";
@plugin "daisyui" {
    themes: abyss --default;
  }
 
 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* line-height: 1.5;
  font-weight: 400; */
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
}
#navbar.active{
  font-weight: bold;
} 




